<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Hello, world!</title>
</head>

<body>
	<h1>회원목록</h1>
	<div class="container">
		<div>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>이름</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="users : ${users}">
						<td th:text="${users.usernum}"></td>
						<td th:text="${users.username}"></td>
					</tr>
				</tbody>
			</table>
		</div>

</body>

</html>