<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<title>Hello, world!</title>
</head>

<body>
	<h1>상품목록</h1>
	<div class="container">
		<div>
			<div th:each="product : ${products}" class="card"
				style="width: 10vw;">
				<img src="#" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the
						card title and make up the bulk of the card's content.</p>
				</div>
			</div>

		</div>
	</div>
</body>

</html>